{%- include 'bold-cart' -%}
 <div id="shopping-cart" class="desktop-12 tablet-6 mobile-3">

  <h2>{{ 'cart.general.title' | t }}</h2>
  {% if cart.item_count == 0 %}
  <p>{{ 'cart.general.empty' | t }}</p>


  {% else %}
  <script type="text/javascript">
    function remove_item(id) {
      document.getElementById('updates_'+id).value = 0;
      document.getElementById('cartform').submit();
    }
  </script>
  <form action="/cart" method="post" id="cartform">

    <table>
      <thead>
        <tr>
          <th>{{ 'cart.general.product' | t }}</th>
          <th>{{ 'cart.general.price' | t }}</th>
          <th style="text-align: center;">{{ 'cart.general.qty' | t }}</th>
          <th style="text-align: center;">{{ 'cart.general.remove' | t }}</th>
          <th>{{ 'cart.general.price' | t }}</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart.items %}
        {% include 'bold-cart-item' with item %}
        <tr>
          <td class="cart-item">
            <div class="cart-image">
              <a href="{{ item.url }}" title="{{ item.product.title | escape }}">
                <img src="{{ item | img_url: 'compact' }}" alt="{{ item.title | escape }}" />
              </a>
     
            </div>
            <div class="cart-title">
              
              {{ item.title }}
<span class="saso-cart-item-discount-notes" data-key="{{item.key}}"></span>
<span class="saso-cart-item-upsell-notes" data-key="{{item.key}}"></span>                                
                             {{ bold_recurring_desc }}
{{ bold_item_properties }}
   
         {% include 'product-personalizer' %}

            </div>
          </td>
          <td class="cart-price">
            
<span class="saso-cart-item-price" data-key="{{item.key}}">{{ bold_item_price | money }}</span>
{% if item.variant.compare_at_price > bold_item_price %}&nbsp;<del>{{ item.variant.compare_at_price | money }}</del>{% endif %}          
          </td>
          <td class="cart-quantity">
            <input type="text" class="cart-qty" size="4" name="updates[{{ item.id }}]" id="updates_{{ item.variant.id }}" value="{{ item.quantity }}" onfocus="this.select();"{{ bold_qty_attr }}/>    
          </td>
          <td class="cart-remove">
            <a href="#" onclick="remove_item({{ item.variant.id }}); return false;"><i class="icon-trash icon-2x"></i></a>
          </td>
          <td class="cart-total">
            
<span class="saso-cart-item-line-price" data-key="{{item.key}}">{{ bold_item_line_price | money }}</span>

          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div id="cart-notes" class="desktop-9 tablet-6 mobile-3">
      <label for="note"><strong>{{ 'cart.general.note' | t }}</strong></label>
      <textarea name="note" id="note" rows="5" cols="60">{{cart.note}}</textarea>  
    </div> 

    <div id="basket-right" class="desktop-3 tablet-6 mobile-3">
      <h4><span id="bk-cart-subtotal-label">{{ 'cart.general.subtotal' | t }}</span> 
<span class="saso-cart-original-total"><span id="bk-cart-subtotal-price">{{ bold_cart_total_price | money }}</span></span>
<span class="saso-cart-total"></span>
</h4>
      <p><a href="/collections">{{ 'cart.general.continue' | t }}</a></p>
      <input type="submit" name="update" id="update-cart" value="{{ 'cart.general.update' | t }}" class="button" />
      {{ bold_ro_cart }}
<input type="submit" name="checkout" id="checkout" value="{{ 'cart.general.checkout' | t }}" class="button" />
      
      {% for type in shop.enabled_payment_types %}
      <img src="{{ type | payment_type_img_url }}" />
      {% endfor %} 
      
      <div class="clear"></div>
      
      {% if show_paypal and additional_checkout_buttons %}
 <span class="additional-checkout-buttons"> 
 
      {{ content_for_additional_checkout_buttons }} 
      
 </span> 
{% endif %}
      
      <div class="clear"></div>
 
    </div>

  </form>
  
  <div class="clearfix"></div>

  {% include 'cross-sell-custom' %}
  
  {% endif %}

  <div id="looked-at" class="desktop-12 tablet-6 mobile-3">
    {% include 'recently-viewed' %}
  </div>

</div>

